@{
    ViewBag.Title = "Account";
}
<div class="container-fluid">
    <div class="row">
        <h2><em>@ViewBag.Username - My Account</em></h2>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <!-- Buttons and Timer -->
            <div>
                <h3>
                    <label>Latest Game Results:</label>
                </h3>
            </div>

            <br />

            <h4>
                <label>
                    Total Clicks: <br /> @Model.ClickCount
                </label>
            </h4>

            <br />

            <h4>
                <label>
                    Total Time: @ViewBag.TotalTime
                </label>
            </h4>
        </div>

        <div class="col-sm-9">
            <!-- Gameboard -->
            <div class="buttons" align="center">

                @using (Html.BeginForm("ContinueGame", "Game"))
                {
                    <div class="form-group" id="continue">
                        <div class="col-sm-offset-1 col-md-10">
                            <button id="save" class="btn btn-primary">
                                Continue Game
                            </button>
                        </div>
                    </div>
                }

                <br />

                @using (Html.BeginForm("Index", "Game"))
                {
                    <div class="form-group" id="new">
                        <div class="col-sm-offset-1 col-md-10">
                            <button id="save" class="btn btn-danger">
                                New Game
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>