<table>
    @for (int i = 0; i < ViewBag.Size; i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.Size; j++)
            {
                <td>
                    <input name="location_@i@j" type="submit" value="@i@j" class="btn-lg cell-btn" id="cell@i@j" data-row="@i" data-column="@j" data-live="@ViewBag.Board[i,j].IsLive" />
                </td>
            }
        </tr>
    }
</table> 