<table>
    @for (int i = 0; i < ViewBag.Size; i++)
    {
        <tr>
            @for (int j = 0; j < ViewBag.Size; j++)
            {
                <td>
                    <input name="location_@i@j" type="submit" value="" class="btn-lg" style="height:30px"/>
                </td>
            }
        </tr>
    }
</table> 