
@{
    ViewBag.Title = "Index";
}

<h3>Please select your difficulty setting.</h3>
<body>
    <ul>
        <li>@Html.ActionLink("Easy", "Game", new { x = 15 });</li>
        <li>@Html.ActionLink("Medium", "Game", new { x = 20 });</li>
        <li>@Html.ActionLink("Hard", "Game", new { x = 25 });</li>
    </ul>
</body>

