@model  Minesweeper.Models.Game.Grid

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .gameboard table {
        border: 1px solid;
        border-color: black;
        border-collapse: collapse;
        border: 0;
    }

    .gameboard td {
        border-color: black;
        border: 1px solid;
        background-color: #BCBCBC;
        width: 32px;
        height: 32px;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        padding: 0;
    }

    h2 {
        color: black;
    }
</style>

<h2 align="center">
    Minesweeper
</h2>

<div class="container-fluid">
    <div class="row">
        <!-- TITLE -->
    </div>

    <div class="row">
        <div class="col-sm-3">
            <!-- Buttons and Timer -->
            <div>
                <h4>
                    Time: <label id="timer">00:00:00</label>
                </h4>
            </div>

            <br />
            <br />

            @using (Html.BeginForm("ResetGrid", "Game"))
            {
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        @if (Model.GameOver == false)
                        {
                            @:<button id="reset" class="btn btn-default">Reset Game</button>
                        }
                        else
                        {
                            @:<button id="new" class="btn btn-default">New Game</button>
                        }
                    </div>
                </div>
            }

            <br />
            <br />

            @using (Html.BeginForm("SaveGame", "Game"))
            {
                <div class="form-group" id="save">
                    <div class="col-md-offset-3 col-md-10">
                        <button id="save" class="btn btn-default">
                            Save & Quit
                        </button>
                    </div>
                </div>
            }
        </div>

        <div class="col-sm-9">
            <!-- Gameboard -->
            <div class="gameboard" align="center">

                <div id="gameboard">

                    @{ Html.RenderPartial("Game", Model); }

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" type="text/javascript">
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        var countDate = localStorage.getItem('startDate');

        countDate = new Date();
        localStorage.setItem('startDate', countDate);

        var x = setInterval(function () {

            var now = new Date().getTime();

            var distance = now - countDate.getTime();

            var hours = "";
            var minutes = "";
            var seconds = "";

            hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            seconds = Math.floor((distance % (1000 * 60)) / 1000);

            if (seconds < 10) {
                seconds = "0" + seconds;
            }

            if (minutes < 10) {
                minutes = "0" + minutes;
            }

            if (hours < 10) {
                hours = "0" + hours;
            }

            document.getElementById("timer").innerHTML = hours + ":" + minutes + ":" + seconds;

        }, 1000);


    </script>
}
