@model  Minesweeper.Models.Game.Grid

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .gameboard table {
        border: 1px solid;
        border-color: black;
        border-collapse: collapse;
        border: 0;
    }

    .gameboard td {
        border-color: black;
        border: 1px solid;
        background-color: #BCBCBC;
        width: 32px;
        height: 32px;
        text-align: center;
        font-weight: bold;
        vertical-align: middle;
        padding: 0;
    }

    h2 {
        color: black;
    }
</style>

<h2 align="center">
    Minesweeper
</h2>

<div class="gameboard">

    <div id="gameboard">

        @{ Html.RenderPartial("Game", Model); }

    </div>

    @using (Html.BeginForm("ResetGrid", "Game", FormMethod.Get))
    {
        <div class="form-group">
            <div class="col-md-offset-3 col-md-10">
                @if (Model.GameOver == false)
                {
                    @:<button id="reset" data-url='@Url.Action("ResetGrid", "Game")' class="btn btn-default">Reset Game</button>
                }
                else
                {
                    @:<button id="new" data-url='@Url.Action("ResetGrid", "Game")' class="btn btn-default">New Game</button>
                }
            </div>
        </div>
    }

</div>



@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" type="text/javascript">
    </script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <script>
        $(document).ready(function () {
            $('#reset, #new').on('click', function (event) {
                event.preventDefault();
                event.stopPropagation();

                var $game = $('#gameboard');
                var url = $(this).data('url');

                $.get(url, function (data) {
                    $game.replaceWith(data);
                });
            });

        });
    </script>
}
