
@{
    ViewBag.Title = "Index";
}

    <h3>Please select your difficulty setting.</h3>
    <body>
        <ul>
            <li>@Html.ActionLink("Easy", "Game", new { size = 15 });</li>
            <li>@Html.ActionLink("Medium", "Game", new { size = 20 });</li>
            <li>@Html.ActionLink("Hard", "Game", new { size = 25 });</li>
        </ul>
    </body>

