
<head>
    <meta http-equiv="refresh" content="3;@Url.Action("Login", "Login")" />
</head>

@{
    ViewBag.Title = "Failure";
}

<h2><em>LOGIN FAILED!</em></h2>
<br /><br />
<h4><em>Redirecting to login in 3 seconds...</em></h4>
