
<head>
    <meta http-equiv="refresh" content="3;@Url.Action("Index", "Home")" />
</head>

@{
    ViewBag.Title = "Success";
}

<h2><em>LOGIN SUCCESSFUL!</em></h2>
<br /><br />
<h4><em>Redirecting to index in 3 seconds...</em></h4>
