<head>
    <meta http-equiv="refresh" content="3;@Url.Action("Game", "Home")" />
</head>

@{
    ViewBag.Title = "Success";
}

<h2><em>Welcome Back, @ViewBag.Username</em></h2>

<br /><br />

<h4><em>Starting new minesweeper game!</em></h4>