@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MINESWEEPER</h1>
    <p class="lead">Web application project for CST-247 at GCU.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Developers:</h2>
        <p>
            <ul>
                <li>
                    Jay Wilson
                </li>
                <li>
                    Jacki Adair
                </li>
                <li>
                    Chase Hausman
                </li>
                <li>
                    Nathan Ford
                </li>
                <li>
                    Richard Boyd
                </li>
            </ul>
        </p>
    </div>
</div>